<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/dell/IdeaProjects/TestProject">
        <classes>
            <class name="testCases.DetailsPageTest">
                <methods><include name="testDetailsOfPlaintiffAndDefendent"/>
                </methods>
            </class>
            <class name="testCases.LawSuitePageTest">
                <methods><include name="getSizeofTheLink"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>